    <tr class="adword_row">
        <td data-title="<input type='checkbox' />" data-field=""><input type="checkbox" /></td>
        <td data-field="id"></td>
        <td data-field="status"></td>
        <td data-field="job_type_id"></td>
        <td data-field="data_source_type_id"></td>
        <td data-field="title"></td>
        <td data-field="url"></td>
        <td data-field="updated_at"></td>
        <td style="cursor:pointer;" onclick="app.editJob(this)" data-field="" data-attr="id">📝</td>
    </tr>
