<div class="adwords_dialog_add_job">
    <h1>Add Job</h1>
    <div class="fcolumn" style="margin-bottom:20px;">
        <div>Title (required): <input data-field="title" data-len-min="5" /></div>
        <div>Tags: <input data-field="tags" /></div>
        <div>Data Source Type:
            <select data-field="data_source_type_id" >
                <option value="1">Local File</option>
                <option value="2">Hugging Face</option>
                <option value="3">S3</option>
                <option value="4">Web Url</option>
            </select>
        </div>
        <div>Data Source URL: <input data-field="url"  data-len-min="5" /></div>
    </div>
    <div onclick="saveJob(this)" class="btn btn-red">Save</div>
</div>