<div class="adwords_dialog_add_job">
    <h1>Add Job</h1>
    <div class="fcolumn" style="margin-bottom:20px;">
        <div>Title: <input /></div>
        <div>Tags: <input /></div>
        <div>Data Source Type:
            <select>
                <option>Local File</option>
                <option>Hugging Face</option>
                <option>S3</option>
                <option>Web Url</option>
            </select>
        </div>
        <div>Data Source URL: <input /></div>
    </div>
    <div class="btn">Add</div>
</div>