
<div class="main_adwords" style="width:100%;">
    <div class="frow" style="align-items:center;">
        <h2>Ad Context Jobs</h2>
        <div onclick="addJob(this)" class="btn">+</div>

        <div style="margin-left: 100px;">
            <div class="frow" style="align-items:center;justify-content:flex-end;background-color:white;border-radius:12px;">
                <select style="padding-left:12px;border: none;">
                    <option>Choose Action</option>
                    <option>Pause</option>
                    <option>Resume</option>
                    <option>Delete</option>
                </select>
                <div class="btn btn-red" style="">Execute Action</div>
            </div>

        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th><input type="checkbox" /></th>
                <th>ID</th>
                <th>Status</th>
                <th>Type</th>
                <th>Data Type</th>
                <th>Title</th>
                <th>URL/Path</th>
                <th>Updated</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>