
<div class="main_admin" style="width:100%;">
    <h2>Admin Dashboard</h2>
    <div class="frow" style="margin-bottom:20px;">
        <div class="frow panel-group">
            <a href="/static/html/index.html?route=admin_setting" class="btn">⚙️ Settings</a>
            <a href="/static/html/index.html?route=admin_user" class="btn btn-orange">🧑‍🤝‍🧑 Users</a>
        </div>
        <div class="frow panel-group">
            <a href="/static/html/index.html?route=admin_job_type" class="btn">💼 Job Types</a>
        </div>
        <div class="frow panel-group" style="">
            <a href="/static/html/index.html?route=admin_prompt_chain" class="btn btn-blue">⛓️ Prompt Chains</a>
            <a href="/static/html/index.html?route=admin_prompt" class="btn btn-purple">🛠️ Prompts</a>
        </div>
    </div>
    <div class="frow" style="align-items:center;">
        <div onclick="addJob(this)" class="btn">➕</div>
        <div style="flex:1;">
            <div class="frow" style="align-items:center;justify-content:flex-end;">
                <select>
                    <option>___ Choose Action ___</option>
                    <option>Pause</option>
                    <option>Resume</option>
                    <option>Delete</option>
                </select>
                <div class="btn btn-red" style="">Execute Action</div>
            </div>

        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th><input type="checkbox" /></th>
                <th>ID</th>
                <th>Status</th>
                <th>Type</th>
                <th>Data Type</th>
                <th>Title</th>
                <th>URL/Path</th>
                <th>Updated</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>