
<div class="main_adwords" style="width:100%;">
    <h2>Ad Context Jobs</h2>
    <div class="frow" style="align-items:center;">
        <div onclick="addJob(this)" class="btn">➕</div>
        <div style="flex:1;">
            <div class="frow" style="align-items:center;justify-content:flex-end;">
                <select>
                    <option>___ Choose Action ___</option>
                    <option>Pause</option>
                    <option>Resume</option>
                    <option>Delete</option>
                </select>
                <div class="btn btn-red" style="">Execute Action</div>
            </div>

        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th><input type="checkbox" /></th>
                <th>ID</th>
                <th>Status</th>
                <th>Type</th>
                <th>Data Type</th>
                <th>Title</th>
                <th>URL/Path</th>
                <th>Updated</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>