    <tr class="task_row">
        <td data-title="<input type='checkbox' />" data-field=""><input type="checkbox" /></td>
        <td data-field="id"></td>
        <td data-field="status"></td>
        <td data-title="Rows" data-field="rows_processed"></td>
        <td data-title="Updated" data-field="updated_at"></td>
        <td data-title="Edit" style="cursor:pointer;" onclick="app.editTask(this)" data-field="" data-attr="id">📝</td>
        <td data-title="Results" style="cursor:pointer;"  data-field="" data-attr="id">🔗</td>
    </tr>
