export SYSTEM_MODE=production

export WAND_ENABLED=1
export WANDB_API_KEY=some_key
export WANDB_STAGENET_PROJECT=cgp_stagenet
export WANDB_TESTNET_PROJECT=cgp_testnet
export WANDB_MAINNET_PROJECT=cgp_mainnet

export CGP_API_READ_HOST=https://api.conversations.xyz
export CGP_API_READ_PORT=443

export CGP_API_WRITE_HOST=https://db.conversations.xyz
export CGP_API_WRITE_PORT=443

#export CGP_API_READ_HOST=http://localhost
#export CGP_API_READ_PORT=8000

export LLM_TYPE=openai

# used both by validator and miner:
export OPENAI_API_KEY=some_key
export OPENAI_DIRECT_CALL=1

#export OPENAI_MODEL=gpt-4-turbo
#export OPENAI_MODEL=gpt-4
export OPENAI_MODEL=gpt-3.5-turbo

export OPENAI_EMBEDDINGS_MODEL=text-embedding-ada-002

#export SCORING_DEBUG_LOG=./scoring_debug.log

