export SYSTEM_MODE=test
#export SYSTEM_MODE=production


export CGP_API_READ_HOST=api.conversationgenome.org
export CGP_API_READ_PORT=api.conversationgenome.org

export CGP_API_WRITE_HOST=api.conversationgenome.org
export CGP_API_WRITE_PORT=api.conversationgenome.org

export LLM_TYPE=spacy
#export LLM_TYPE=openai
#export LLM_TYPE=textgenui
#export LLM_TYPE=anthropic

# used both by validator and miner:
export OPENAI_API_KEY=some_key
export ANTHROPIC_API_KEY=some_key

export TEXTGENUI_IP=some_ip
export TEXTGENUI_PORT=some_port

export WANDB_API_KEY=some_key
