# Core dependencies
python-dotenv==1.0.1
bittensor==9.0.0rc6
torch==2.1.1
openai==1.30.3
loguru==0.7.0
wandb==0.18.1

# Dependencies for compatibility
pydantic==2.7.1
typing-extensions==4.8.0
httpx==0.27.2
