# Core dependencies
python-dotenv==1.0.1
bittensor>=7
torch==2.1.1
spacy==3.5.0
openai==1.30.3
loguru==0.7.0
wandb==0.17.0
starlette>=0.30.0
pydantic>=2
rich>=13
pytest>=8
numpy>=1
setuptools>=68

# Dependencies for compatibility
typing-extensions==4.7.0
