    <tr class="adword_row">
        <td data-title="<input type='checkbox' />" data-field=""><input type="checkbox" /></td>
        <td data-field="id"></td>
        <td data-field="status"></td>
        <td data-title="Title" data-field="title"></td>
        <td data-title="Chain"  data-field="prompt_chain_id"></td>
        <td class="text-detail" data-field="description"></td>
        <td data-field="updated_at"></td>
        <td style="cursor:pointer;" onclick="app.editPrompt(this)" data-field="" data-attr="id">📝</td>
    </tr>
