.mulish-300 {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

html {
  font-family: "Mulish", sans-serif;
  background-color: #f7faff;
}

.frow {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.fcolumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main {
    padding: 10px 30px;
}

.tileContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}
.tile {
    width: 400px;
    height: 300px;
    overflow: hidden;
    background: white;
    border-radius: 20px;
}
.tile:hover {
    border: 1px solid #00EEEE;
    box-sizing: border-box;
    background-color: #00EEEE; /* hover highlight color */
    transition: background-color 0.5s; /* smooth transition duration */
}
.tileHeading {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}