name: CI

on:
  pull_request:

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install -r requirements_test.txt

    - name: Run tests
      id: run-tests
      run: |
        python -m pytest tests/unit/ --disable-warnings --junitxml=test-results.xml
      env:
        OPENAI_API_KEY: fake-api-key-for-unit-tests

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        files: test-results.xml
